@using CookingHub.Data.Models.Enumerations;
@{
    this.ViewData["Title"] = "Recipes";
}
    <div class="conteiner-fluid recipeDetailsPage">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-7">
                <div class="conteiner" id="recipeHeading">
                    <h1 class="recipeTitle"><span>@Model.Name</span></h1>
                    <p id="recipeSubTitle">Author: @Model.UserUsername | Category:@Model.Category.Name | Rating: @Model.Rate </p>
                </div>
                <div class="conteiner" id="recipeBody">
                    <div class="recipeText">
                        @Html.Raw(Model.Description)
                        @Html.Raw(Model.Ingredients)
                    </div>
                    <div class="row" id="recipeProps">
                        <div class="col-3 col-md-4 recipeProperty">
                            Difficulty:<br> @if (Model.Difficulty == Difficulty.Easy)
                            {<strong style="color:green">@Model.Difficulty</strong> }
                            else if (Model.Difficulty == Difficulty.Medium)
                            {
                                <strong style="color:orange">@Model.Difficulty</strong>
                            }
                            else
                            {
                                <strong style="color:darkred">@Model.Difficulty</strong>
                            }
                            
                        </div>
                        <div class="col-3 col-md-4 recipeProperty">
                            Preperation time:<br> @Model.PreparationTime mins
                        </div>
                        <div class="col-3 col-md-4 recipeProperty">
                            Portions Number:<br> @Model.PortionsNumber
                        </div>
                        <div class="col-3 col-md-4 recipeProperty">
                            Cooking Time:<br> @Model.CookingTime mins
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="recipeImage" >
                    <img class="img-fluid recipe-img" src="@Model.ImagePath" />
                </div>
                
            </div>
        </div>
        <div class="recipeReviews">
            <h2 class="centered"><strong>Reviews:</strong></h2>
            <div class="reviewsPanel">
                @foreach(var n in Model.Reviews)
                {

                }
            </div>
        </div>
    </div>
    