@using CookingHub.Data.Models.Enumerations;
@model CookingHub.Models.ViewModels.Recipes.RecipeDetailsViewModel
@{
    this.ViewData["Title"] = "Recipes";

}

<div class="main-body conteiner-fluid">
    <div class="recipeDetailsPage">

        <div class="row" style="background-color:#540404; margin: 0px 10px 0px 10px; height:100%;">
            <div class="col-12  col-lg-6 centered">
                <div class="conteiner d-flex flex-column h-100" id="recipeBody">
                    <div class="conteiner" id="recipeHeading">
                        <h1 class="recipeTitle"><span>@Model.Name</span></h1>
                        <p id="recipeSubTitle">
                            Author: @Model.UserUsername | Category:@Model.Category.Name | Rating: @for (int i = 0; i < Model.Rate; i++)
                            {<i class="fas fa-star star"></i>}
                        </p>
                    </div>
                    <div class="flex-grow-1 recipeText">
                        @Html.Raw(Model.Description)

                    </div>
                    <div class="row" id="recipeProps">
                        <div class="col-auto recipeProperty">
                            Difficulty:<br>
                            @if (Model.Difficulty == Difficulty.Easy)
                            {<strong style="color:green">@Model.Difficulty</strong> }
                        else if (Model.Difficulty == Difficulty.Medium)
                        {
                            <strong style="color:orange">@Model.Difficulty</strong>
                        }
                        else
                        {
                            <strong style="color:darkred">@Model.Difficulty</strong>
                        }

                        </div>
                        <div class="col-auto recipeProperty">
                            Preperation time:<br> @Model.PreparationTime mins
                        </div>
                        <div class="col-auto recipeProperty">
                            Portions Number:<br> @Model.PortionsNumber
                        </div>
                        <div class="col-auto recipeProperty">
                            Cooking Time:<br> @Model.CookingTime mins
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-lg-6 ing-img">
                <div class="recipeImage">
                    <img class="img-fluid recipe-img" src="@Model.ImagePath" />
                </div>
                <div class="recipeIngredients">
                    @Html.Raw(Model.Ingredients)
                </div>
            </div>
        </div>
        <div class="recipeReviews">
            <h2 class="centered"><strong>Reviews:</strong></h2>
            <div class="row reviewsPanel">

                @foreach (var n in Model.Reviews)
                {
                    <div class="col-12 col-lg-4 review-card ">
                        <div class="review-header">
                            <span>Author:@n.UserUsername</span><br>
                            <span>
                                Rate: @for (int i = 0; i < n.Rate; i++)
                                {<i class="fas fa-star star"></i>
                                }
                            </span>
                        </div>
                        <div class="review-body">
                            <span><b>@n.Title</b></span><br>
                            <span>@n.Description</span>
                        </div>
                    </div>
                }


            </div>
            <div class="row" style="padding: 0 50px 0 50px;">
                <button type="button" class="btn btn-CH ml-auto" data-toggle="modal" data-target="#reviewsModal">
                    Create Review
                </button>
            </div>
        </div>
    </div>
</div>
<!--Review Modal-->
<div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header CH-color">
                <h5 class="modal-title CH-color">Give Us your opinion!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="submit-form" asp-controller="Reviews" asp-action="Create" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <span>Review for : @Model.Name</span> <br>
                        <label for="Title">Title</label>
                        <input type="text" id="title" name="Title" />
                        <input type="hidden" name="RecipeId" value="@Model.Id" />
                        <div class="container">
                            <div class="starrating d-flex justify-content-center flex-row-reverse">
                                <input type="radio" id="star5" name="Rate" value="5" /><label for="star5" title="5 star"></label>
                                <input type="radio" id="star4" name="Rate" value="4" /><label for="star4" title="4 star"></label>
                                <input type="radio" id="star3" name="Rate" value="3" /><label for="star3" title="3 star"></label>
                                <input type="radio" id="star2" name="Rate" value="2" /><label for="star2" title="2 star"></label>
                                <input type="radio" id="star1" name="Rate" value="1" /><label for="star1" title="1 star"></label>
                            </div>
                        </div>
                        <label class="col-form-label" for="reviewDescription">Description:</label><br>
                        <textarea id="reviewDescription" name="Content" type="text"></textarea>
                    </div>

                </div>
                <div class="modal-footer flex-row-reverse justify-content-md-start w-100">
                    <button id="submit-btn" type="button" class="btn btn-CH">Send Review</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts 
{
    <script>
        const submitBtn = document.getElementById('submit-btn');
        const title = document.getElementById('title');
        const description = document.getElementById('reviewDescription');
        const footer = document.querySelector('.modal-footer');

        const errorSpan = document.createElement('span');
        errorSpan.setAttribute('style', 'display: hidden');

        submitBtn.addEventListener('click', onClickEventHandler);

        function onClickEventHandler() {
            if (title.value === '' || description.value === '') {
                errorSpan.textContent = 'You must enter the field.';
                errorSpan.setAttribute('style', 'color: red; display: block');
                footer.appendChild(errorSpan);
            } else {
                $('#submit-form').submit();
            }
        }
    </script>
}
