@using CookingHub.Common
@using CookingHub.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CookingHubUser> SignInManager
@inject UserManager<CookingHubUser> UserManager
@{ this.ViewData["Title"] = "Home Page"; }

<!-- Start slides -->
<div class="conteiner-fluid">
    <div class="container homeinfo">
        <h1 class="m-b-20"><strong>Welcome to <br> Cooking Hub!</strong></h1>
        <p class="m-b-40">
            Feel free to exlore our online network for   <br>
            cooking and healty life! <br>
        </p>
        @if (!this.SignInManager.IsSignedIn(this.User)) {
            <p class="m-b-40" id="UnRegistered" style="font-size: 22px;">
                If you want you can join our community<br>
                and create and free account
            </p>
        <button class="btn btn-light">Sign up</button>
        }
    </div>
    <div id="slides" class="conteiner-fluid cover-slides" style="z-index:-1;">
        <ul class="slides-container">
            <li class="text-left">
                <img src="~/images/slider-01.jpg" alt="">
            </li>
            <li class="text-left">
                <img src="~/images/slider-02.jpg" alt="">
            </li>
            <li class="text-left">
                <img src="~/images/slider-03.jpg" alt="">
            </li>
        </ul>

    </div>

</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Cooking Hub</h1>
                    <h4>Website created for all you home chefs out there!</h4>
                    <p class="mt-4">Cooking Hub is an online community webside created for browsing recipes and articles about healty lifestyle!</p>
                    <p>Our goal is to make the Internet a user-friendly place for people who want to find fresh ideas for homemade food!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/images/about-img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    " No rules. <br> Don't be afraid to do whatever you want.<br> Cooking doesn't have to have rules."
                </p>
                <span class="lead"> Masaharu Morimoto</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Recipes</h2>
                    <p>Here are some examples of what you can do in fing in the Recipes page.</p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box centered">
            <div class="col-9 ml-auto mr-auto">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-01.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $7.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-02.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $9.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-03.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $10.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-04.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $15.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-05.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $18.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-06.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $20.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-07.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $25.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-08.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $22.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-09.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $24.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-01.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $7.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-02.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $9.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-03.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $10.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-04.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $15.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-05.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $18.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-06.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $20.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-07.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $25.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-08.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $22.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="~/images/img-09.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $24.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="conteiner-fluid">
                        <a class="btn btn-dark w-100" asp-area="" asp-controller="Recipes" asp-action="Index">To Recipes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- End Menu -->
<div class="article-box">
    <div class="conteiner">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2 style="color:white">Articles</h2>
                    <p>If you are not hungry, feel free to browse our article section</p>
                </div>
            </div>
            <div class="article-cards">
                <div class="row ar-row">
                    @foreach (var article in Model)
                    {
                        <div class="col-4 col-lg-4 col-md-6">
                            <div class="blog-box-inner">
                                <div class="blog-img-box">
                                    <img class="img-fluid" src="@article.ImagePath" alt="image_@article.Id">
                                </div>
                                <div class="blog-detail">
                                    <h4>@article.Title</h4>
                                    <ul>
                                        <li>
                                            <span>Post by <i class="fa fa-user"></i> @article.UserUsername</span>
                                        </li>
                                        <li>|</li>
                                        <li>
                                            <span><i class="fa fa-calendar"></i> @article.CreatedOn.ToShortDateString()</span>
                                        </li>
                                    </ul>
                                    <p>@Html.Raw(article.SanitizedShortDescription)</p>
                                    <a class="btn btn-lg btn-circle btn-outline-new-white"
                                       asp-area=""
                                       asp-controller="Articles"
                                       asp-action="Details"
                                       asp-route-id="@article.Id">Read More</a>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-4 col-lg-4 col-md-6 toArticle-box ">

                        <a class="button" id="toArticleBtn" asp-area="" asp-controller="Articles" asp-action="Index"><span>To Articles</span></a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Start Gallery -->
<div class="gallery-box" style="background-color:white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-01.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-01.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-02.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-02.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-03.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-03.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-04.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-04.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-05.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-05.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-06.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-06.jpg" alt="Gallery Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<!-- Start Customer Reviews 
<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Customer Reviews</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mt-4">
                        <div class="carousel-item text-center active">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/images/quotations-button.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
                            <h6 class="text-dark m-0">Web Developer</h6>
                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/images/quotations-button.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
                            <h6 class="text-dark m-0">Web Designer</h6>
                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/images/quotations-button.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel vebar</strong></h5>
                            <h6 class="text-dark m-0">Seo Analyst</h6>
                            <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
End Customer Reviews -->
<partial name="_ContactsInfoPartial" />

<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>