@using CookingHub.Data.Models
@using CookingHub.Models.ViewModels.Home
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CookingHubUser> SignInManager
@model HomePageViewModel
@{
    this.ViewData["Title"] = "Home Page";
    var gallery = Model.Gallery;
    var subgalleries = gallery.Select((x, i) => new { Index = i, Value = x }).GroupBy(x => x.Index / 3).Select(x => x.Select(v => v.Value).ToList()).ToList();
    
   var active = false;
}

<!-- Start slides -->
<div class="conteiner-fluid">
    <div class="container homeinfo">
        <h1 class="m-b-20"><strong>Welcome to <br> Cooking Hub!</strong></h1>
        <p class="m-b-40">
            Feel free to exlore our online network for   <br>
            cooking and healthy life! <br>
        </p>
        @if (!this.SignInManager.IsSignedIn(this.User))
        {
            <p class="m-b-40" id="UnRegistered" style="font-size: 22px;">
                If you want you can join our community<br>
                and create free account
            </p>
            <a class="btn btn-light" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        }
    </div>
    <div id="slides" class="conteiner-fluid cover-slides" style="z-index:-1;">
        <ul class="slides-container">
            <li class="text-left">
                <img src="~/images/slider-01.jpg" alt="">
            </li>
            <li class="text-left">
                <img src="~/images/slider-02.jpg" alt="">
            </li>
            <li class="text-left">
                <img src="~/images/slider-03.jpg" alt="">
            </li>
        </ul>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Cooking Hub</h1>
                    <h4>Website created for all you home chefs out there!</h4>
                    <p class="mt-4">Cooking Hub is an online community webside created for browsing recipes and articles about healty lifestyle!</p>
                    <p>Our goal is to make the Internet a user-friendly place for people who want to find fresh ideas for homemade food!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/images/about-img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    " No rules. <br> Don't be afraid to do whatever you want.<br> Cooking doesn't have to have rules."
                </p>
                <span class="lead"> Masaharu Morimoto</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Recipes</h2>
                    <p>Here are some examples of what you can do in fing in the Recipes page.</p>
                </div>
            </div>
        </div>
        <div class="row inner-menu-box centered">
            <div class="col-9 ml-auto mr-auto">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            @foreach (var topRecipe in Model.TopRecipes)
                            {
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="@topRecipe.ImagePath" class="img-fluid home-recipe-img" alt="Image_@topRecipe.Id">
                                        <div class="why-text">
                                            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@topRecipe.Id">
                                                <h4>@topRecipe.Name</h4>
                                            </a>
                                            <span>
                                                @if (topRecipe.Rate == 0)
                                                {<strong>No Rate yet!</strong> }
                                                else
                                                { @for (int i = 0; i < topRecipe.Rate; i++)
                                                    {<i class="fas fa-star star"></i>}}
                                        </span>
                                        <h5>Difficulty: @topRecipe.Difficulty</h5>
                                        <h5><i class="fa fa-list"></i> @topRecipe.Category.Name</h5>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                    <div class="conteiner-fluid">
                        <a class="btn btn-dark w-100" asp-area="" asp-controller="Recipes" asp-action="Index">To Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Article -->
<div class="article-box">

    <div class="row h-100" style="overflow:visible">
        <div class="col-lg-12">
            <div class="heading-title text-center">
                <h2 style="color:white">Articles</h2>
                <p>If you are not hungry, feel free to browse our article section</p>
            </div>
        </div>

        <div class="row d-flex h-100  ml-auto mr-auto">
            @foreach (var article in Model.RecentArticles)
            {
                <div class="col-12 col-md-4">
                    <div class="blog-box-inner">
                        <div class="blog-img-box">
                            <img class="img-fluid home-pic" src="@article.ImagePath" alt="image_@article.Id">
                        </div>
                        <div class="blog-detail">
                            <h4>@article.Title</h4>
                            <ul>
                                <li>
                                    <span>Posted by <i class="fa fa-user"></i> @article.UserUsername</span>
                                </li>
                                <li>|</li>
                                <li>
                                    <span><i class="fa fa-calendar"></i> @article.CreatedOn.ToShortDateString()</span>
                                </li>
                            </ul>
                            <p>@Html.Raw(article.SanitizedShortDescription)</p>
                            <a class="btn btn-lg btn-circle btn-outline-new-white"
                               asp-area=""
                               asp-controller="Articles"
                               asp-action="Details"
                               asp-route-id="@article.Id">Read More</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 col-md-4 toArticle-box ">
                <a class="button" id="toArticleBtn" asp-area="" asp-controller="Articles" asp-action="Index"><span>To Articles</span></a>
            </div>
        </div>


    </div>
</div>
<!-- Start Gallery -->
<div class="gallery-box gallery-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>

                </div>
            </div>
        </div>

        <div class="container  mt-3">
            <div id="GalleryCarusel" class="carousel slide" data-ride="carousel">
                <!-- The slideshow-->

                <div class="carousel-inner">

                    @foreach (var n in subgalleries)
                    {
                        @if (active == false)
                        {
                            <div class="carousel-item mx-h active gallery-box">
                                <div class="row h-100">
                                    @for (int i = 0; i < n.Count(); i++)
                                    {
                                        <a class="col-4" style="height:100%" href="@n.ElementAt(i).ImagePath" data-lightbox="@n.ElementAt(i).Id">
                                            <img class="img w-100 h-100 br-12" src="@n.ElementAt(i).ImagePath" alt="Image" />
                                        </a>                        
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item mx-h gallery-box">
                                <div class="row h-100">
                                    @for (int i = 0; i < n.Count(); i++)
                                    {
                                        <a class="col-4" style="height:100%" href="@n.ElementAt(i).ImagePath" data-lightbox="@n.ElementAt(i).Id">
                                            <img class="img w-100 h-100 br-12" src="@n.ElementAt(i).ImagePath" alt="Image" />
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                        @if (active == false) active = true;
                    }
                    <a class="carousel-control-prev" href="#GalleryCarusel" data-slide="prev">
                        <span class="carousel-control-prev-icon btn-dark">PREV</span>
                    </a>
                    <a class="carousel-control-next" href="#GalleryCarusel" data-slide="next">
                        <span class="carousel-control-next-icon btn-dark"> NEXT</span>
                    </a>
                    <!-- Left and right controls-->
                </div>

            </div>

        </div>
    </div>
    <partial name="_ContactsInfoPartial" />
</div>
<!-- End Gallery -->


<a href="#" id="back-to-top" title="Back to top" style="display: none;">
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
</a>
<a asp-controller="Home" asp-action="Chat" id="chat-btn" title="Chat" style="display: none;">
    <i class="fas fa-comment" aria-hidden="true"></i>
</a>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#GalleryCarusel').carousel({ interval: 3000 });
            $('#GalleryCarusel').addEventListener('slid.bs.carousel', function () {
                $('#GalleryCarusel').carousel(2);
            })
        });
    </script>
}