<h5>Model's administration</h5>
<ul class="nav nav-pills flex-column">
    <li class="@AdminNavPages.RecipesNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Recipes" asp-action="Index">Recipes</a>
    </li>
    <li class="@AdminNavPages.ArticlesNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Articles" asp-action="Index">Articles</a>
    </li>
    <li class="@AdminNavPages.CategoriesNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a>
    </li>
    <li class="@AdminNavPages.CookingHubUsersNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="CookingHubUsers" asp-action="Index">CookingHubUsers</a>
    </li>
</ul>
<hr />
<h5>App's administration</h5>
<ul class="nav nav-pills nav-stacked flex-column">
    <li class="@AdminNavPages.AboutNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Faq" asp-action="Index">FAQ page</a>
    </li>
    <li class="@AdminNavPages.PrivacyNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Privacy" asp-action="Index">Privacy</a>
    </li>
</ul>