<h5>Model's administration</h5>
<div class="admin-nav-item">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
</div>
<ul class="nav nav-pills flex-column">
    
    <li class="@AdminNavPages.RecipesNavClass(ViewContext)">
        <button class="admin-nav">Recipes</button>
        <div class="nav-panel">
            <div class="@RecipesNavPages.CreateRecipeNavClass(ViewContext)">
                <a asp-controller="Recipes" asp-action="Create">Create recipe</a>
            </div>
            <div class="@RecipesNavPages.GetAllNavClass(ViewContext)">
                <a asp-controller="Recipes" asp-action="GetAll">List recipes</a>
            </div>
        </div>
    </li>

    <li class="@AdminNavPages.ArticlesNavClass(ViewContext)">
        <button class="admin-nav">Articles</button>
        <div class="nav-panel">
            <div class="@ArticleNavPages.CreateArticleNavClass(ViewContext)">
                <a asp-controller="Articles" asp-action="Create">Create article</a>
            </div>
            <div class="@ArticleNavPages.GetAllNavClass(ViewContext)">
                <a asp-controller="Articles" asp-action="GetAll">List articles</a>
            </div>
        </div>
    </li>

    <li class="@AdminNavPages.CategoriesNavClass(ViewContext)">
        <button class="admin-nav">Categories</button>
        <div class="nav-panel">
            <div class="@CategoryNavPages.CreateCategoryNavClass(ViewContext)">
                <a asp-controller="Categories" asp-action="Create">Create category</a>
            </div>
            <div class="@CategoryNavPages.GetAllNavClass(ViewContext)">
                <a asp-controller="Categories" asp-action="GetAll">List categories</a>
            </div>
        </div>
    </li>
    <li class="@AdminNavPages.CookingHubUsersNavClass(ViewContext)">
        <button class="admin-nav">Cooking Hub Users</button>
        <div class="nav-panel">
            <div class="@CookingHubUserNavPages.GetAllNavClass(ViewContext)">
                <a asp-controller="CookingHubUsers" asp-action="GetAll">List Cooking Hub Users</a>
            </div>
        </div>
    </li>
</ul>
<hr />
<h5>App's administration</h5>
<ul class="nav nav-pills nav-stacked flex-column">
    <li class="@AdminNavPages.AboutNavClass(ViewContext)">
        <button class="admin-nav">FAQ page</button>
        <div class="nav-panel">
            <div class="@FaqNavPages.CreateFaqNavClass(ViewContext)"><a asp-controller="Faq" asp-action="Create">Create faq</a></div>
            <div class="@FaqNavPages.GetAllNavClass(ViewContext)"><a asp-controller="Faq" asp-action="GetAll">List faqs</a></div>
        </div>
    </li>
    <li class="@AdminNavPages.PrivacyNavClass(ViewContext)">
        <button class="admin-nav">Privacy</button>
        <div class="nav-panel">
            <div class="@PrivacyNavPages.CreatePrivacyNavClass(ViewContext)">
                <a asp-controller="Privacy" asp-action="Create">Create privacy</a>
            </div>
            <div class="@PrivacyNavPages.EditPrivacyNavClass(ViewContext)">
                <a asp-controller="Privacy" asp-action="Edit" asp-route-id="1">Edit privacy</a>
            </div>
            <div class="@PrivacyNavPages.DeletePrivacyNavClass(ViewContext)">
                <a asp-controller="Privacy" asp-action="Remove" asp-route-id="1">Delete privacy</a>
            </div>
        </div>
    </li>
</ul>
