@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-80 ch-border bg-dark">
        <h1 class="text-light">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post"></form>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"></form>
            <h4 class="text-light">Use a local account to log in.</h4>
            <hr />
            <div class="form-group">
                <label class="text-light" asp-for="Input.Username"></label>
                <input asp-for="Input.Username" form="account" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-light" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" form="account" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="text-light" asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" form="account" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" form="account">Log in</button>
            </div>
            <div class="form-group">
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-fb" form="external-account" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook"></i> Login with @provider.DisplayName</button>
                            }
                        }
                    }
                </section>
            </div>
            <div class="form-group">
                <p>
                    <a class="text-light" id="forgot-password" form="account" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a class="text-light" asp-page="./Register" form="account" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
